@tailwind base;
@tailwind components;
@tailwind utilities;


body,
*,
*::after,
*::before{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: var(--font-oswald), var(--font-roboto), Arial, Helvetica, sans-serif !important;
  font-weight: 600;
}

:root {
  --foreground-rgb: 31, 31, 31;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 233, 233, 233;
}

body{
  background-color: rgba(var(--foreground-rgb));
  color: rgb(var(--background-end-rgb));
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 233, 233, 233;
    --background-start-rgb: 31, 31, 31;
    --background-end-rgb: 31, 31, 31;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
